# ==========================================
# Entornos Virtuales y Dependencias
# ==========================================
venv/
.venv/
env/
Lib/
Include/
Scripts/

# ==========================================
# Caché de Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Archivos de Audio y Multimedia pesados
# ==========================================
*.mp3
*.wav
*.m4a
*.flac
*.ogg
*.mp4
*.mkv
*.mov
*.avi
*.webm
*.dll

# ==========================================
# Datos del Proyecto (Archivos dinámicos)
# ==========================================
proyectos/*
!proyectos/.gitkeep

# Mantenemos examples.json pero ignoramos los audios de referencia si son pesados
assets/clone_examples/**/*.wav
assets/clone_examples/*.wav
files/clone_examples/**/*.wav
files/clone_examples/*.wav

# Ignoramos el JSON generado automáticamente por la app
files/original/secciones.json
metadata.json


# ==========================================
# Configuraciones de Entorno e IDEs
# ==========================================
.vscode/
.idea/
*.swp
.DS_Store

# Variables de entorno (Aunque definimos no usarlas, es la regla de oro de la seguridad)
.env